@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&family=Orbitron:wght@500&display=swap');

body {
    margin: 0;
    
    background: #e9e9e9;
    color: #e9e9e9;
    font-family: 'fira mono', Monospace, sans-serif;
}
/*HEADER*/
header {
    width: 100%;
    height: 100%;
    padding: 16% 0;

    background-image: url("https://images.pexels.com/photos/6526177/pexels-photo-6526177.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    
    text-align: center;
}
.name-plate {
    width: 100%;
    margin: 5% 0;
    padding: 10px 0;

    background: rgba(0,0,0,0.80);
    color: #ffffff;
}
h1 {
    text-align: center;
    line-height: 0.5em;
    letter-spacing: 0.5em;
    border-radius: 15px;

    font-family: 'Orbitron', sans-serif;
}
/*NAV BAR*/
.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    
    width: 20%;
    padding: 1% 1% 1% 1%;
    
    z-index: 1;
}
.icon {
    display: block;
    color: rgba(0,0,0,0.75);
    margin: 0 2% 2% 2%;
}
.icon:hover {
    color: #ffa800;
}
/*MAIN*/
main {
    width:100%;
    margin: 0 0;
    padding: 2% 0;

    text-align: center;
}
    /*PROJECTS*/
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 5px;
    
    align-content: center;
    justify-content: center;
 
    padding: 0 5%;
}
.item {
    width: 90%;
    margin: auto;
    padding:0;
    
    background: #202020;
    
    border-radius:5px;
    box-shadow: 0px 0px 20px #101010;
    
    transition: width 1s, background 1s;
}
.item:hover{
    width: 95%;
    background:#151515;
    cursor:pointer;
    color: #ffa800;
}
.item-img {
    margin: 1rem 0;
    padding: 0;
    width: 100%;
    height: 200px;
}

.first{
    background-image:url("https://vectr.com/bramblegunt/aUaAVmjxg.svg?width=600&height=600&select=aUaAVmjxgpage0");
    /*background-position:center;
    background-size: cover;*/
    /*WHILE EMPTY*/
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat
}
.second{
    background-image:url("https://vectr.com/bramblegunt/aUaAVmjxg.svg?width=600&height=600&select=aUaAVmjxgpage0");
    /*background-position:center;
    background-size: cover;*/
    /*WHILE EMPTY*/
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat
}
.third{
    background-image:url("https://vectr.com/bramblegunt/aUaAVmjxg.svg?width=600&height=600&select=aUaAVmjxgpage0");
    /*background-position:center;
    background-size: cover;*/
    /*WHILE EMPTY*/
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat
}
.fourth{
    background-image:url("https://vectr.com/bramblegunt/aUaAVmjxg.svg?width=600&height=600&select=aUaAVmjxgpage0");
    /*background-position:center;
    background-size: cover;*/
    /*WHILE EMPTY*/
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat
}
.fifth{
    background-image:url("https://vectr.com/bramblegunt/aUaAVmjxg.svg?width=600&height=600&select=aUaAVmjxgpage0");
    /*background-position:center;
    background-size: cover;*/
    /*WHILE EMPTY*/
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat
}
.sixth{
    background-image:url("https://vectr.com/bramblegunt/aUaAVmjxg.svg?width=600&height=600&select=aUaAVmjxgpage0");
    /*background-position:center;
    background-size: cover;*/
    /*WHILE EMPTY*/
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat
}
.seven{
    background-image:url("https://vectr.com/bramblegunt/aUaAVmjxg.svg?width=600&height=600&select=aUaAVmjxgpage0");
    /*background-position:center;
    background-size: cover;*/
    /*WHILE EMPTY*/
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat
}
.eight{
    background-image:url("https://vectr.com/bramblegunt/aUaAVmjxg.svg?width=600&height=600&select=aUaAVmjxgpage0");
    /*background-position:center;
    background-size: cover;*/
    /*WHILE EMPTY*/
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat
}
.nineth{
    background-image:url("https://vectr.com/bramblegunt/aUaAVmjxg.svg?width=600&height=600&select=aUaAVmjxgpage0");
    /*background-position:center;
    background-size: cover;*/
    /*WHILE EMPTY*/
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat
}
    /*CONTACT*/
#contact {
    text-align: left;
    padding: 2% 5%;
    margin: 10% 5% 5% 5%;
    
    border-radius: 15px;
    box-shadow: 0px 0px 20px #101010;

    background: #151515;
}
.contact-area {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 10px;
    align-content: center;
    justify-content: center;
 
    padding: 0;
}
.contact-box {
    padding: 5%;
}
label{
    margin:0 10px;
}
input{
    width: 100%;
    margin: 0 0 10px 0;

    background: #000000;
    
    border: 2px solid #151515;
}
.submit-btn {
    width: 30%;
    margin: 20px 35% 0 35%;

    background: #402020;
    color: #e9e9e9;

    border: 1px solid #101010;
    border-radius: 15px;
}
.submit-btn:hover {
    background: #252525;
}
/*FOOTER*/
footer{
    height:50px;
    padding:2%;
    
    background:#151515;
}
.lemon:hover {
    color: #ffa800;
    cursor: pointer;
}
/*POPUPS*/
.popUp {
    position: fixed;
    top: 10%;
    left: 5%;
    
    width: 90%;
    height: 80%;
    padding: 10px;
    
    background: #252525;
    border-radius: 15px;
    box-shadow: 0px 0px 50px #101010;
}
.pop-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
    grid-gap: 5px;
    
    align-content: stretch;
    justify-content: stretch;
 
    padding: 0 4%;
}
.poppy {
    text-indent: 30px;
}
.pop-nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
    grid-gap: 10px;
    
    align-content: stretch;
    justify-content: stretch;
    
    width: 80%;
    margin: 0 10%;
    text-align: center;
}
.pop-link {
    color: #efefef;
}
.pop-link:hover {
    color: #ffa800;
}
.fa-times-circle {
    cursor: pointer;
}
.fa-times-circle:hover {
    color:#faa800;
}

/*GENERAL*/
h2{
    text-align: center;
    line-height: 0.5em;
    border-radius: 15px;

    font-family: 'Orbitron', sans-serif;
    color: #101010;
}
h3 {
    text-align: center;
    line-height: 0.5em;
    border-radius: 15px;

    font-family: 'Orbitron', sans-serif;
    color: #ffa800;
}
p {
    line-height: 1em;
}
a {
    text-decoration: none;
    font-weight: 500;
    color: #101010;
}
a:hover {
    color: #ffa800;
}
strong {
    color: #ffa800;
}
img {
    max-height: 500px;
    max-width: 500px;
    display: block;
    margin: auto;
}
